{% extends "render.html" %}
{% block stars %}
<!--Begin night background-->
<div class="stars" style="background:#000 url({{ url_for('static', filename='img/stars.png') }}) repeat top center;"></div>
<div class="twinkling" style="background:transparent url({{ url_for('static', filename='img/twinkling.png') }}) repeat top center;"></div>
<div class="clouds" style="background:transparent url({{ url_for('static', filename='img/clouds-2.png') }}) repeat top center;"></div>
<!--End night background-->
{% endblock %}