<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Project Radium">
    <meta name="description" content="Coming soon to SmartChain Verify...">
    <meta name="keywords" content="">
	<title>Coming soon...</title>
    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="Coming soon...">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.verify.software">
    <meta property="og:image" content="{{ url_for('static', filename='img/smartchain-2.png') }}">
    <meta property="og:description"
        content="Coming soon to SmartChain Verify...">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/pure-min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/grids-responsive-min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/marketing.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="stars" style="background:#000 url({{ url_for('static', filename='img/stars.png') }}) repeat top center;"></div>
    <div class="twinkling" style="background:transparent url({{ url_for('static', filename='img/twinkling.png') }}) repeat top center;"></div>
    <div class="clouds" style="background:transparent url({{ url_for('static', filename='img/clouds-2.png') }}) repeat top center;"></div>
    <div class="cover">
        <div class="container" style="padding-top: 5%; padding-bottom: 5%;">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img class="pure-img-responsive" src="static/img/smartchain-2.png">
                    <div class="content-head" style="color: white;">
                        <h2 class="thin-text content-head" style="display: inline;">Smartchain&nbsp;</h2>
                        <h2 class="heavy-text hidden-sm hidden-xs content-head" style="display: inline;">Verify</h2>
                        <h2 class="heavy-text hidden-lg hidden-md content-head" style="margin-top: 1em; display: block;">Verify</h2>
                        <h2 class="thin-text content-head" style="margin-top: 0.5em; display: block;">Enterprise</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center" style="color: #EEEEEE;">
                            <h1>
                                <i class="radium_green fa fa-hourglass fa-3x"></i>
                            </h1>
                            <h2 style="margin-top: 5%:">Coming soon...</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>