<!DOCTYPE html>
<html lang="en">
{% block head %}{% endblock %}
<body>
<!--Ugly in-document styling, because Flask has selective hatred for stylesheets-->
<style>
.warning {
display: block;
margin: auto;
font-size: 300px;
color: #CE352C;
}

.margin-top-3 {
margin-top: 3%;
}

.data-icons {
display: block;
margin-bottom: 1.5%;
}

.clean-text-white {
text-decoration: none;
color: #EEEEEE;
}

.clean-text-black {
text-decoration: none;
color: #1D1D1D;
}

a:visited {
color: inherit;
}
</style>

<div class="pure-g">
    {% block stars %}{% endblock %}
    {% if iserror %}
        {% block error %}{% endblock %}
    {% elif do_confirm %}
        {% block confirm %}{% endblock %}
    {% else %}
        {% block success %}{% endblock %}
    {% endif %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
<script type="text/javascript" src="static/js/main.js"></script>
</body>
</html>